/* Full page setup */
body {
    height: 100vh;
    margin: 15px;
    padding: 5px;
    color: #330000;
    background-color: #ffffcc;
    font-family: Verdana;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

/* Main container */
#container {
    width: 800px;
    height: 420px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    border: 2px solid black;
}

/* Header */
header {
    background-color: #ccaa66;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    border-top: solid;
    border-bottom: 2px solid black;
}

/* Content wrapper */
#content {
    display: flex;
    flex: 1;
}

/* Navigation */
nav {
    background-color: #E8D882;
    width: 150px;
    padding: 15px;
    height: 250px;
}

nav a {
    text-decoration: none;
    color: #330000;
    font-weight: lighter;
    display: block;
    margin-bottom: 10px;
}

nav a:hover {
    color: darkmagenta;
}

/* Main Content */
main {
    background-color: #f1e8b0;
    flex: 1;
    padding: 15px;
    height: 250px;
    width: 580px;
}

main section {
    display: none;
}

/* Show the targeted section */
main section:target {
    display: block;
}

/* Image Section */
aside {
    width: 200px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    background-color: #f1e8b0;
    height: 260px;
}

aside img {
    max-width: 100%;
    border-radius: 0;
    margin-top: 60px;
}

/* Footer */
#footer {
    background-color: #ccaa66;
    text-align: center;
    font-style: italic;
    font-size: 10px;
    padding-top: 18px;
    height: 70px;
    border-top: 2px solid black;
}

footer a {
    text-decoration: none;
    color: darkmagenta;
}

footer a:hover {
    text-decoration: underline;
}

section:target 